/*-------------
 	General
-------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Raleway", "Sans serif";
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}
hr:nth-child(2){
	display: none;
}

a:hover {
	opacity: 1;
}


hr {
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 10px;
}

section {
	display: flex;
	flex-direction: column;
}

/*-------------
 	HEADER
-------------*/
header {
	display: flex;
	justify-content: space-between;
}

nav,
ul {
	display: flex;
}

nav ul li {
	padding: 25px;
}

.logo {
	padding: 32px;
}

.logo img {
	width: 100px;
	height: 40px;

}

.navig1 {
	color: blue;
}

/*-------------
 	SECTION RECHERCHE
-------------*/

.inputSearch {
	padding: 20px 0px;
	display: flex;
}

.localisation {
	display: flex;
	border: 0px solid black;
	border-right: 0;
	border-radius: 12px 0 0 12px;
	width: 50px;
	height: 50px;
	justify-content: center;
	background-color: #d9d9d9;
}

.localisation i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputs input {
	width: 190px;
	height: 50px;
	border: 0.1px solid #d9d9d9;
	text-align: center;
}
.research{
	display: flex;
	align-items: center;
}
.research i{
	display: none;
	position: absolute;
	padding-left: 10px;
	color: white;
}

.research input {
	position: relative;
	height: 50px;
	width: 120px;
	background-color: #0065fc;
	color: white;
	border-radius: 0 12px 12px 0;
	border: 0.1px solid #d9d9d9;

}

.filterSearch {
	display: flex;
	align-items: center;
}

.filterCase {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1.5px solid #d9d9d9;
	margin: 0 22px;
	border-radius: 32px;
}

.filterCase i {
	padding-right: 12px;
}

.filtreIcon {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 40px;
	background-color: #d9d9d9;
	border-radius: 50%;
	margin-right: 12px;

}

.filtreIcon i {
	display: flex;
	align-items: center;
	color: #0065fc;
}

.findResult {
	display: flex;
	align-items: center;
	margin-top: 12px;
}

.iconFind {
	display: flex;
	justify-content: center;
	width: 30px;
	height: 30px;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
}

.iconFind i {
	display: flex;
	align-items: center;
	color: #0065fc;
}

.textFindResult {
	margin-left: 12px;
}

/*---------------------------
 	SECTION HEBERGEMNT
-----------------------------*/
.hebergement {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.hebergementMarseille {
	width: 73%;
	height: 627px;
	background-color: #d9d9d9;
	margin-top: 12px;
	border-radius: 20px;
}

.populaire {
	width: 25%;
	height: 627px;
	background-color: #d9d9d9;
	margin-top: 12px;
	border-radius: 20px;
}

.titleHebergement,
.infoHebergement h1 {
	margin: 22px 10px;
}

.titlePopulaire {
	display: flex;
	margin: 22px 20px;
	justify-content: space-between;
}

.blocHebergement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cardHebergement {
	width: 246px;
	height: 200px;
	background-color: #fff;
	border-radius: 20px;
	margin: 0 10px 40px 10px;
}

.imageCard {
	display: flex;
	justify-content: center;
}

.imageCard img {
	width: 234px;
	height: 120px;
	border-radius: 20px 20px 0 0;
	margin-top: 6px;
}

.infoCard {
	margin-left: 12px;
}

.col {
	color: #0065fc;
}

.noCol {
	color: #d9d9d9;
}

.cardPopulaire {
	display: flex;
	width: 296px;
	height: 150px;
	background-color: #fff;
	border-radius: 20px;
	margin: 0 10px 40px 10px;
}

.imageCardPop img {
	width: 114px;
	height: 138px;
	border-radius: 20px 0 0 20px;
	margin-top: 6px;
	margin-left: 6px;
}

.infoCardPop {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.infoCardPop p {
	margin-top: 10px;
}

.assignedNotePop {
	margin-top: 40px;
}

/*---------------------------
 	SECTTION ACTIVITE
-----------------------------*/

.activite {
	margin-top: 40px;
	display: flex;
	height: 650px;
	flex-direction: column;
}

.blocActivite {
	display: flex;
	justify-content: space-between;
}

.blocsCard {
	height: 500px;
	background-color: white;
	width: 23%;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 0 20px #0000002e;
}

.imageCardActivite img {
	height: 400px;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.titleActivite {
	height: 50px;
}

.titleActiviteCard {
	margin: 10px 0 20px 20px;
}

.titleActiviteCar h2 {
	font-weight: 10px;
}
.titleActiviteCard h2{
	font-size: medium;
}

/*---------------------------
 	FOOTER
-----------------------------*/
footer {
	height: 225px;
	background-color: #d9d9d9;

}

.containerFooter {
	display: flex;
	justify-content: space-between;
	margin: 20px 60px;
}

.about,
.hebergementFooter,
.contact {
	margin-top: 30px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hebergementFooter,
.contact {
	height: 90px;
}

/*---------------------------
 	MEDIA QUERIES
-----------------------------*/
@media screen and (min-width:2400px) {
	.cardPopulaire{
		margin: 20px auto;
		width: 80%;
	}
	.imageCardPop img{
		width:230px ;
	}
	.cardHebergement {
		height: 240px;
		width: 460px;
	}
	.imageCard img {
		width: 454px;
		height: 150px;
	}
		
}
/*---------------------------MEDIA QUERIES little desktop and tablette-----------------------------*/
@media screen and (max-width:1200px) {
	.hebergement {
		flex-direction: column;
	}
	.hebergementMarseille {
		width: 100%;
	}
	.populaire {
		width: 100%;
		height: 300px;
		margin-top: 50px;
	}
	.blocPopulaire{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
@media screen and (max-width:1100px) {
	.blocsCard{
		height: 310px;
	}
	.imageCardActivite img{
		height: 250px;
	}
	.activite{
		height: 450px;
	}
	}
@media screen and (max-width:820px) {
	.populaire {
		
		height: 500px;
		margin-top: 50px;
	}
	.blocPopulaire{
		flex-wrap: wrap;
	}
	.hebergementMarseille {
		height: 850px;
	}
	.filterSearch{
		flex-wrap: wrap;
	}
	.filterCase{
		margin-top: 9px;
	}
	.titleActiviteCard {
		margin: 2px 0 20px 20px;
	}
}
@media screen and (max-width:768px) {
	.activite{
		height: 100%;
	}
	.blocActivite{
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}
	.blocsCard{
		height: 210px;
		width: 180px;
		margin: 20px;
	}
	.imageCardActivite img{
		height: 150px;
	}
	.populaire {
		height: 100%;
	}
	.hebergementMarseille {
		height: 100%;
	}
	footer{
		height: 100%;
	}
	.containerFooter{
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0;
		padding: 20px 35px;
	}
	.titleActiviteCard {
		margin: 10px 0 20px 20px;
	}

}
@media screen and (max-width:468px) {
header{
	flex-direction: column;
}
.logo{
	margin: 0 auto;
	padding: 0;
}
.menu{
	display: flex;
	flex-direction: column-reverse;
}
.menuNavig {
padding: 15px 47px;
}
hr{
	width: 50%;
}
hr:nth-child(2){
	display: block;
	background-color: #d9d9d9;
	width: 50%;

}
.trait{
	display: flex;
}
.hebergementMarseille{
	background-color: #fff;
}
.cardHebergement{
	width: 100%;
	height: 250px;
	box-shadow: 0 0 20px #0000002e;
	margin: 20px  auto;
}
.imageCard  img{
	width: 100%;
	height: 170px;
	object-fit: cover;
}
.hebergement{
	flex-direction: column-reverse;
}
.cardPopulaire{
	width: 100%;
}
.infoCardPop{
	margin-top: 10px;
}
.blocActivite{
	display: grid;
	grid-template-columns: 1fr ;
	margin: 0;
}
.blocsCard{
	height: 200px;
	width: 100%;
	margin: 20px 0;
}
.imageCardActivite img{
	object-fit: cover;
}
}
@media screen and (max-width:368px) {
	.menuNavig {
		padding: 15px 25px;
		}
		.research input{
			width: 40px;
		}
		.research input[value="recherche"]{
			color: #0065fc;
		}
		.research i{
			display: block;
		}
		.iconFind{
			width: 46px;
		}
		.assignedNotePop{
			margin-top: 22px;
		}
		.imageCard img{
			height: 150px;
		}
		.infoCard h3,span,.assignedNote{
			padding: 5px;
		}
		
		
}